<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.DotNet.PlatformAbstractions" version="2.0.4" targetFramework="net471" />
  <package id="Microsoft.Extensions.DependencyModel" version="2.0.4" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
  <package id="Shuttle.Core.Configuration" version="10.0.0" targetFramework="net471" />
  <package id="Shuttle.Core.Container" version="10.0.6" targetFramework="net471" />
  <package id="Shuttle.Core.Contract" version="10.0.0" targetFramework="net471" />
  <package id="Shuttle.Core.Data" version="10.0.4" targetFramework="net471" />
  <package id="Shuttle.Core.Logging" version="10.0.1" targetFramework="net471" />
  <package id="Shuttle.Core.Reflection" version="10.0.7" targetFramework="net471" />
  <package id="System.Configuration.ConfigurationManager" version="4.4.1" targetFramework="net471" />
</packages>